@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #d8f3dc; /* Soft pastel green */
}

.wrapper {
  width: 450px;
  background: #ffffff;
  border-radius: 12px;
  border: 2px solid #b7e4c7; /* light green border */
}

.wrapper h1 {
  text-align: center;
  font-size: calc(25 / 16 * 1rem);
  font-weight: 500;
  padding: 20px 25px;
  border-bottom: 1px solid #c9d6c5;
  color: #2d6a4f; /* dark pastel green */
}

.wrapper .content {
  margin: 25px 25px 35px;
}

.content .typing-input {
  position: absolute;
  left: -9999px;
}

.content .inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inputs input {
  text-align: center;
  color: #2d6a4f;
  height: 57px;
  width: 56px;
  margin: 4px;
  font-size: calc(24 / 16 * 1rem);
  font-weight: 500;
  background: #f1faee; /* pastel light background */
  text-transform: uppercase;
  border-radius: 8px;
  border: 1px solid #95d5b2; 
}

.content .details {
  margin: 20px 0 25px;
  color: #1b4332;
}

.details p {
  font-weight: 500;
  font-size: calc(18 / 16 * 1rem);
  margin-bottom: 10px;
}
.details span {
  font-weight: 400;
}

.content .reset-btn {
  width: 100%;
  cursor: pointer;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: calc(17 / 16 * 1rem);
  padding: 15px 0;
  background: #40916c; /* Pastel green button */
  border-radius: 8px;
  transition: all 0.3s ease;
}

.content .reset-btn:hover {
  background: #2d6a4f;
}

#author {
  width: 100%;
  font-size: 1.1rem;
  text-align: center;
  border-top: 1px solid #b7e4c7;
  padding: 25px 0;
  color: #2d6a4f;
}

#author a {
  color: #2d6a4f;
}

@media screen and (max-width: 460px) {
  .wrapper {
    margin: 10px;
    width: 400px;
  }

  .wrapper h1 {
    font-size: calc(22 / 16 * 1rem);
  }
  .inputs input {
    height: 48px;
    width: 46px;
    font-size: calc(20 / 16 * 1rem);
  }

  .details p {
    font-size: 1rem;
  }

  .content .reset-btn {
    font-size: 1rem;
    padding: 12px 0;
  }

  #author {
    font-size: 1rem;
  }
}
